@page "/"

<AuthorizeView>
    <Authorized>
        <h3>Welcome to Import2Strava!</h3>
    </Authorized>

    <NotAuthorized>
        <p>Please login to see data from Strava</p>
    </NotAuthorized>
</AuthorizeView>


