@page "/login-providers"

@{
    var providers = new Dictionary<string, string>
{
        { "google", "Google" },
        { "aad", "Microsoft" },
        { "facebook", "Facebook" },
        { "github", "GitHub" },
        { "twitter", "Twitter" }
    };
}

<h1>Login</h1>

<div class="container">
    @foreach (var provider in providers)
    {
        <div class="row">
            <div class="col-sm-12 col-md-9 col-lg-6">
                <a class="btn btn-block btn-lg btn-social btn-@provider.Value.ToLower()" href="/.auth/login/@provider.Key">
                    @{
                        string icon = provider.Key.Equals("aad", StringComparison.InvariantCultureIgnoreCase) ? "windows" : provider.Key;
                    }
                    <span class="fa fa-@icon"></span> Sign in with @provider.Value
                </a>
            </div>
        </div>
    }
</div>