@page "/userinfo"
@attribute [Authorize]

<AuthorizeView>
    <Authorized>
        <div>@UserDetails</div>
    </Authorized>

    <NotAuthorized>
        <p>Please login</p>
    </NotAuthorized>
</AuthorizeView>